.jumbotron {
    /* background-image: url("../images/abstract-art-artistic-260286.jpg"); */
    background-color: #e6b800;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    color: #f2f2f2;
}

#start-div {
    background-color: #ffcc00;
    display: initial;
}

#play-div {
    display: none;
}